.expansionPanel {
  margin-bottom: 20px;
  margin-top: 20px;
}

.inputName {
  width: 50%;
  margin-left: 30%;
}

.example-card {
  margin-top: 10px;
}

.joinBtn {
  color: white;
  background: #2d3b45;
}
