<div class="container" style="text-align:center;">
  <mat-card> 
  <mat-card-title> Reset Password </mat-card-title>
  
      <form [formGroup]="pwdForm">
  
        <!-- <mat-form-field >
            <mat-label>User Name: </mat-label>
            <input type = "text" matInput formControlName="username" matInput placeholder="your username " >
          </mat-form-field> -->
    
          <br />

        <mat-form-field>
          <mat-label>Current password: </mat-label>
          <input type = "password" matInput formControlName="currentpassword" matInput placeholder="your current password " >
        </mat-form-field>
  
        <br />

        <mat-form-field>
            <mat-label>New password: </mat-label>
            <input type = "password" matInput formControlName="newpassword" matInput placeholder="your new password " >
          </mat-form-field>

          <br />

          <mat-form-field>
            <mat-label>Confirm new password: </mat-label>
            <input type = "password" matInput formControlName="confirmnewpassword" matInput placeholder="confirm new password " >
          </mat-form-field>

          <br />

          <button mat-raised-button class = "button" (click)="confirmpwd()">Confirm</button>
          <br />
          
        </form>
      </mat-card> 
          </div>
          





