table {
  width: 100%;
}
.approveBtn {
  margin-left: auto;
  background: #2d3b45;
  color: white;
}
.backBtn {
  // margin-right: auto;
  background: #2d3b45;
  color: white;
}
.matAction {
  display: flex;
}
