.title {
  margin-left: 120px;
}

.mode {
  width: 90%;
}

.contactUsers {
  width: 90%;
}

.contactEmails {
  width: 80%;
}

.uploadBtn {
  background: #2d3b45;
  color: white;
  margin-left: 45%;
}

.viewProjectDiv {
  outline: 0.6px solid #2d3b45;
  height: 875px;
  margin-top: 8px;
}
