
<h1 mat-dialog-title> <strong>{{action}}</strong> groups</h1>
<div mat-dialog-content>
<div *ngIf="action != 'Delete'; else elseTemplate">
 <mat-form-field >
    <input placeholder="{{action}} Student One" matInput [(ngModel)]="local_data.student_one" empty-to-null>
  </mat-form-field>
  <mat-form-field>
    <input placeholder="{{action}} Student Two" matInput [(ngModel)]="local_data.student_two" empty-to-null>
  </mat-form-field>

  <mat-form-field>
    <input placeholder="{{action}} Student Three" matInput [(ngModel)]="local_data.student_three" empty-to-null>
  </mat-form-field>

  <mat-form-field>
    <input placeholder="{{action}} Student Four" matInput [(ngModel)]="local_data.student_four" empty-to-null>
  </mat-form-field>

  <mat-form-field>
    <input placeholder="{{action}} Student Five" matInput [(ngModel)]="local_data.student_five" empty-to-null>
  </mat-form-field>

</div>
  <ng-template #elseTemplate>
    Sure to delete <b>{{local_data.group_name}} </b>?
  </ng-template>
</div>

<div mat-dialog-actions >
  <button mat-button (click)="doAction()" >{{action}}</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</div>
